$yellow: #efeeb8;
$green: green;
$black: black;
$blue: blue;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $yellow;
    @include margenes(50px, 10px)
}

.card-player{
    flex: 1 200px;
    margin-top:20px;
    @include margenes(20px, 0px);
}

.btn-perfil{
    width: 100%;
    border-radius:0px
}

footer{
    
    background-color: $yellow;
    @include margenes(10px, 0px)
}

h2{
    color: $green
}

h4{
    color:$green;
}

p{
    color:$black;
}
address p{
    color:$blue;
}

.footer-address-icon{
    padding-right:10px;
}

.card{
    border:0
}

.tab-content{
    padding-top:10px;
}

#destacados{
    margin-top:20px
}

.btn-outline-primary{
    margin-top: 5px;
} 

