.jumbotron {
  background-color: #efeeb8;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-player {
  flex: 1 200px;
  margin-top: 20px;
  margin-top: 20px;
  margin-bottom: 0px; }

.btn-perfil {
  width: 100%;
  border-radius: 0px; }

footer {
  background-color: #efeeb8;
  margin-top: 10px;
  margin-bottom: 0px; }

h2 {
  color: green; }

h4 {
  color: green; }

p {
  color: black; }

address p {
  color: blue; }

.footer-address-icon {
  padding-right: 10px; }

.card {
  border: 0; }

.tab-content {
  padding-top: 10px; }

#destacados {
  margin-top: 20px; }

.btn-outline-primary {
  margin-top: 5px; }

/*# sourceMappingURL=styles.css.map */
